.table.no-data {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.all-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.gridtable::-webkit-scrollbar {
  display: none;
}
.gridtable {
  --global-border-color: #dce0e5bc;

  display: block;
  table-layout: fixed;
  border-collapse: collapse;
  max-width: 100%;
  height: 100%;
  border: 1px solid var(--global-border-color);
  border-radius: 4px;
  border-spacing: 0;
  font-size: 12px;
  color: #333;
  overflow: auto;
  // line-height: 1.33334;
  font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;

  // empty-cells: show;
  .gridtable__toolbar {
    padding: 8px;
    border-bottom: 1px solid var(--global-border-color);
    max-width: 100%;
    user-select: none;
  }
  .gridtable__filter__row {
    background-color: white;
    border-bottom: 1px solid var(--global-border-color);
  }
}

.gridtable__row {
  border-bottom: 1px solid var(--global-border-color);
}
.gridtable__row:hover {
  background-color: #e5e5e5;
  .gridtable__edit__cell {
    background-color: #e5e5e5;
  }
}
.gridtable__row.drawing:hover {
  background-color: white;
  .gridtable__edit__cell {
    background-color: white;
  }
}
.gridtable__row.selected {
  background-color: #ddd;
  .gridtable__edit__cell {
    background-color: #ddd;
  }
}
.gridtable__column__row {
  background-color: white;
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: inset 0 0 0 var(--global-border-color),
    inset 0 -1px 0 var(--global-border-color);
  position: sticky;
  top: 0;
  z-index: 3;
}
.gridtable__column__cell {
  padding: 12px 4px 4px 4px;
  width: 100vw;
  border-left: none !important;
  border-right: none !important;
  box-shadow: inset -1px 0 0 var(--global-border-color),
    inset 0 -1px 0 var(--global-border-color);
  // word-wrap: none;
  // white-space: nowrap;
  overflow: hidden;
  text-align: left;
}
.gridtable__column__cell:last-child {
  box-shadow: none;
}
.gridtable thead {
  display: block;
  overflow: auto;
  max-width: 100%;
}
.gridtable tbody {
  display: block;
  overflow: auto;
  max-width: 100%;
  height: 100%;
  font-weight: 400;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bdc3c7 !important;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ecf0f1 !important;
    border-radius: 10px;
  }
}
.gridtable__header__row {
  display: flex;
  max-width: 100%;
  background-color: white;
}
.gridtable__header__row__cell {
  width: 100%;
  word-wrap: none;
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
}
.gridtable__footer__row {
  display: flex;
  max-width: 100%;
  background-color: white;
  position: sticky;
  bottom: 0;
  z-index: 3;
}
.gridtable__footer__row__cell {
  width: 100%;
  word-wrap: none;
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
}
.gridtable__row__cell {
  width: 100vw;
  padding: 4px;
  word-wrap: none;
  white-space: nowrap;
  user-select: none;
  overflow: hidden;
}
.gridtable__row__cell.selected {
  background-color: #2195f339;
}
.gridtable__checkbox__cell {
  width: fit-content;
  padding: 8px;
  border: none !important;
  box-shadow: inset -1px 0 0 var(--global-border-color),
    inset 0 0 0 var(--global-border-color);
}
.gridtable__edit__cell {
  padding: 0;
  min-width: 45.75px;
  width: 45.75px;
  user-select: none;
  border: none !important;
  box-shadow: inset -1px 0 0 var(--global-border-color),
    inset 0 0 0 var(--global-border-color);
}
.gridtable__nodata__row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}
.gridtable__expand__data__row {
  display: flex;
  width: 100%;
  height: fit-content;
}
.gridtable__expand__data__cell {
  display: flex;
  width: 100%;
  height: fit-content;
}
.gridtable__expand__data__btn {
  all: initial;
  width: 100%;
  height: fit-content;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 8px 0;
  transition: 0.3s;
  font-size: 12px;

  &:hover {
    background-color: blue;
    color: white;
  }

  &:active {
    background-color: darkblue;
    color: white;
  }
}
