.table.no-data {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.all-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.gridtable {
  display: block;
  table-layout: fixed;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  border-spacing: 0;
  font-size: 12px;
  color: #333;
  line-height: 1.33334;
  font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;

  // empty-cells: show;
  .gridtable__toolbar {
    padding: 8px;
    border-bottom: 1px solid #ced4da;
    max-width: 100%;
    user-select: none;
  }
  .gridtable__footer {
    padding: 8px;
    border-top: 1px solid #ced4da;
    max-width: 100%;
    user-select: none;
  }
  .gridtable__filter__row {
    background-color: white;
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: inset 0 0 0 #ced4da, inset 0 -1px 0 #ced4da;
    position: sticky;
    top: 39.5px;
    z-index: 3;
  }
  .gridtable__edit__cell {
    padding: 0;
    position: sticky;
    right: 0;
    z-index: 2;
    width: fit-content;
    background-color: white;
    box-shadow: inset 1px 0 0 0 #ced4da;
    user-select: none;
  }
}
.gridtable::-webkit-scrollbar {
  display: block;
}

.gridtable__row:hover {
  background-color: #e5e5e5;
}
.gridtable__row.selected {
  background-color: #ddd;
}
.gridtable__column__row {
  background-color: white;
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: inset 0 0 0 #ced4da, inset 0 -1px 0 #ced4da;
  position: sticky;
  top: 0;
  z-index: 3;
}
.gridtable__column__cell {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100vw;
  word-wrap: none;
  padding-left: 12px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  text-align: left;
  font-weight: bold;
}
.gridtable tbody {
  display: block;
  overflow: auto;
  width: 100%;
  max-height: 500px;
  font-weight: 400;
}
.gridtable__row__cell {
  width: 100vw;
  padding: 12px;
  word-wrap: none;
  white-space: nowrap;
  user-select: none;
}
.gridtable__row__cell.selected {
  // border: 1px solid #2196f3;
  background-color: #2195f339;
}
.gridtable__checkbox__cell {
  width: fit-content;
  padding: 8px;
}
thead,
tfoot {
  display: table;
  width: 100%;
}
.gridtable__nodata__row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
table thead td {
  background-clip: padding-box;
}
