.table-container.no-data {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.table-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: fit-content;
  border: 0.0625rem solid #ced4da;
  border-radius: 4px;
  overflow-x: auto;
  color: black;
  max-height: 100%;

  .table-edit-wrapper {
    display: flex;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-top: 0.0625rem solid #ced4da;
    border-bottom: 0.0625rem solid #ced4da;
  }
  .page-end-container {
  }
  .table-content-container {
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 0.9em;
  }
  .column-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-height: 100%;
    .column-title {
      font-weight: bold;
      border-bottom: 0.0625rem solid #ced4da;
      font-size: 1em;
    }
    .cell {
      display: flex;
      align-items: center;
      padding: 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
      transition: all 0.2s ease-in-out;
    }
    .selected-cell {
      background-color: #eaeaea;
      transition: all 0.2s ease-in-out;
    }
  }
  .column-select {
    // border-right: 0.0625rem solid #ced4da;
    padding-bottom: 10px;
  }
  .column-edit {
    justify-content: flex-end;
    border-left: 0.0625rem solid #ced4da;
    padding-bottom: 10px;
  }
  .column-container + .column-container {
    border-left: 0.0625rem solid #ced4da;
  }
}
.table-edit-wrapper::-webkit-scrollbar {
  display: none;
}
.table-content-container::-webkit-scrollbar {
  display: inline;
  height: 10px;
  width: 2rem;
}

.table-content-container::-webkit-scrollbar-track {
  // background-color: #f1f1f1;
  margin: 0 0.5rem;
}

.table-content-container::-webkit-scrollbar-track:hover {
  // background-color: #eaeaea;
  border-radius: 4px;
}

.table-content-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.table-content-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.table-content-container::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

.table-content-container::-webkit-scrollbar-corner {
  background-color: transparent;
}
