.gridtable__footer__container {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 10px;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  user-select: none;
  border-top: 1px solid #ced4da;

  .gridtable__footer__container__last {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 10px;
    width: fit-content;
  }
}
.page-number {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
