@import "../../../base.scss";

.icon {
  padding-right: 1rem;
}
.input {
  font-size: $fontsize-md;
  border-radius: 0;
}
.input:not(:focus) {
  border: none;
}
.input:not(:active) {
  background-color: transparent;
}
