@import "../../../base.scss";

.gridtable__toolbar {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 100%;
  padding: $spacing-lg;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #dce0e5bc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;

  .gridtable__toolbar__actions {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 5px;
    overflow-x: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    .gridtable__toolbar__actions__last {
      display: flex;
      margin-left: auto;
      align-items: center;
      gap: 10px;
      width: fit-content;
    }
  }
  .gridtable__toolbar__filter__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    padding: $spacing-lg;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }
}
