.table__toolbar {
  display: flex;
  max-width: 100%;
  height: fit-content;
  padding: 10px;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;

  .table__toolbar__last {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 10px;
    width: fit-content;
  }
}
