.table-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: fit-content;
  box-shadow: 0 2px 4px #0000006d;
  overflow-x: auto;

  .page-size-container {
    display: flex;
    flex: 1;
    height: fit-content;
    padding: 0.7rem;
    overflow: auto;
    justify-content: space-between;

    .size-container {
      display: flex;
      height: fit-content;
      gap: 0.7rem;

      .size {
        padding: 0.5rem 0.8rem;
        border-radius: 4px;
        transition: all ease 0.2s;
        cursor: pointer;
      }
      .size.selected {
        background-color: #aeaeae;
      }
      .size:hover {
        background-color: #dad9d9;
      }
    }
  }
  .columns-data-container {
    display: flex;
    overflow-x: auto;

    .property-data {
      display: flex;
      flex-direction: column;

      &:last-child {
        border-right: none;
        border-left: 1px solid #ccc;
      }

      .property {
        font-weight: bold;
        padding: 0.7rem;
        padding-bottom: 0;
        border-bottom: 1px solid #ccc;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
      }

      .data-value {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.7rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
      }
    }
  }
}

.table-container::-webkit-scrollbar {
  display: none;
}

.columns-data-container::-webkit-scrollbar {
  height: 10px;
}

.columns-data-container::-webkit-scrollbar-track {
  // background-color: #f1f1f1;
  margin: 0 0.5rem;
}

.columns-data-container::-webkit-scrollbar-track:hover {
  background-color: #eaeaea;
  border-radius: 4px;
}

.columns-data-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.columns-data-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.columns-data-container::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

.columns-data-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.edit-container {
  display: flex;
  gap: 1rem;

  .element {
    cursor: pointer;
  }
}
