.root {
  background-color: white;
}
.item {
  background-color: white;
}
.content {
  background-color: white;
  padding: 0;
}
.label {
  font-weight: "bold";
}
.chevron {
  margin-left: 0;
  margin-right: 5;
}
