.dropdown {
  max-height: 200px;
  overflow-y: auto;
  border-radius: 0;
  padding: 0;
  min-width: fit-content;
  // border: 1px solid #ced4da;
  border: 1px solid #8b8b8b;
}
.itemsWrapper {
  padding: 0;
}
.item {
  border-radius: 0;
  font-size: 12px;
}
.item:hover {
  font-size: 12px;
  background-color: #c8c8c8;
}
.input {
  border-radius: 2px;
}
