@import "../../base.scss";

.sidebar__container.collapsed {
  width: 46px;
  transition: all ease 0.4s;

  .navigation__item {
    width: fit-content;
  }
  .title {
    display: none;
  }
  .arrow-down {
    display: none;
  }
}
.sidebar__container::-webkit-scrollbar {
  display: none;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  transition: all ease 0.5s;
  user-select: none;
  overflow-y: scroll;
  background-color: white;

  .navigation__item {
    display: flex;
    width: 100%;
    height: 2rem;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  .navigation__item.selected {
    background-color: $primary-color-light;
    border-right: 5px solid $primary-color;
  }
  .navigation__element__container {
    margin-left: 22px;
    border-left: 1px solid $border-color;
    transition: all ease 0.5s;
  }
  .navigation__element {
    display: flex;
    width: auto;
    height: fit-content;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 8px 0;
    padding-left: 1rem;
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
  }
  .navigation__element.selected {
    background-color: $primary-color-light;
  }
  .icon {
    width: 1rem;
    height: 1rem;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    opacity: 0.8;
  }
  .title {
    flex: 1;
    text-align: start;
    font-size: $fontsize-sm;
    opacity: 0.8;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.navigation__item.logout {
  margin-top: auto;
  margin-bottom: 1rem;
}

.sidebar__container .navigation__item:not(:last-child):hover {
  background-color: $primary-color-light-2;
}
.sidebar__container .navigation__element:hover {
  background-color: $primary-color-light-2;
}
@media screen and (max-width: 450px) {
  .sidebar__container {
    width: 100vw;
  }
}
