.color {
  color: #000000;
  color: #2a272a;
  color: #4b4a54;
  color: #677381;
  color: #82a0aa;
  color: #a3cfcd;
}
.sidebar-container.collapsed {
  width: 55px;
  transition: all ease 0.5s;

  .navigation-item {
    width: fit-content;
    margin-left: 10px;
  }
  .title {
    display: none;
  }
  .arrow-down {
    display: none;
  }
  .icon {
  }
}
.sidebar-container::-webkit-scrollbar {
  display: none;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  transition: all ease 0.5s;
  user-select: none;
  overflow-y: scroll;
  background-color: white;
  color: #737373;

  .navigation-item.selected {
    background-color: #000000;
    color: white;
  }
  .navigation-item {
    display: flex;
    height: fit-content;
    width: calc(100% - 20px);
    align-items: center;
    text-align: center;
    border-radius: 10px;
    transition: all ease 0.3s;
    margin: 8px auto 0 auto;
    cursor: pointer;
    box-sizing: border-box;
  }
  .navigation-element {
    display: flex;
    width: auto;
    height: fit-content;
    align-items: center;
    text-align: center;

    transition: all ease 0.3s;
    cursor: pointer;
    margin-top: 8px;
    /* background-color: #bebebe;*/
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
  }
  .navigation-element.selected {
    background-color: #000000;
    color: white;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.5rem;
    border-radius: 4px;
    object-fit: cover;
  }
  .logo {
    width: 1.4rem;
    height: 1.4rem;
  }
  .title {
    flex: 1;
    text-align: start;
    font-size: 0.7em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.arrow-down {
  margin-left: auto;
  height: 1.4rem;
  transition: all ease 0.4s;
}
.arrow-down.arrow-down-open {
  transform: rotate(-90deg);
}
.navigation-item:first-child {
  margin-top: 1rem;
  .icon {
    object-fit: contain;
    padding: 0.4rem 0.5rem;
  }
}
.navigation-item:last-child {
  margin-top: auto;
  margin-bottom: 1rem;
  /* .icon {
     padding-right: 0;
     margin-left: 1.3rem;
   }
  */
}

.sidebar-container .navigation-item:not(:first-child):hover {
  background-color: #677381;
  .title {
    color: white;
  }
  .icon {
    color: white;
  }
}
.sidebar-container .navigation-element:hover {
  background-color: #4b4a54;
  .title {
    color: white;
  }
}
@media screen and (max-width: 450px) {
  .sidebar-container {
    width: 100vw;
  }
}