.edit-container {
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  .element {
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 1.6rem;
    padding: 0.2rem;
    cursor: pointer;
  }
  .element:hover {
    border-radius: 4px;
    background-color: #b3b3b3;
  }
}
