@import "../../base.scss";

.form__header__container {
  display: flex;
  flex-direction: column;
  .form__header__title {
    font-size: $fontsize-display-sm;
    font-weight: 600;
  }
  .form__header__button__container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
