@import "./base.scss";

.main__container {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  .page {
    display: flex;
    width: 100%;
    height: calc(100% - 45px);
  }
  .page__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 $spacing-lg;
    gap: $spacing-xl;
  }
  .page__content::-webkit-scrollbar {
    display: none;
  }
  .page::-webkit-scrollbar {
    display: none;
  }
}
