// #root {
//   height: 100%;
// }

// ::-webkit-scrollbar {
//   display: none;
// }

.main__container {
  display: flex;
  height: 100dvh;
  overflow: auto;

  .page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .page__content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    overflow: scroll;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 1rem;
    .page__content__header {
      display: flex;
      max-width: 100%;
      height: fit-content;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      .page__content__header__title {
        font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana,
          sans-serif;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 700;
        font-size: 26px;
      }
    }
  }
  .page__content::-webkit-scrollbar {
    display: none;
  }
  .page::-webkit-scrollbar {
    display: none;
  }
}
