* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
// #root {
//   height: 100%;
// }

// ::-webkit-scrollbar {
//   display: none;
// }

.main-container {
  display: flex;
  background-color: #f4f0f0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-size: 1rem;

  .page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .page-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    .page-content-header {
      display: flex;
      max-width: 100%;
      height: fit-content;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0;
      .page-content-header-title {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
  .page-content::-webkit-scrollbar {
    display: none;
  }
  .page::-webkit-scrollbar {
    display: none;
  }
}

// REACT SUITE
.rs-table-cell-header .rs-table-cell-content {
  line-height: 1.66666667;
  padding: 10px;
  font-weight: 500;
  color: black;
  font-size: 1em;
}
.rs-table-row-header .rs-table-cell {
  background-color: #fff;
  background-color: var(--rs-bg-card);
  border-bottom: 1px solid #ced4da;
}
.rs-table-cell {
  background-color: #fff;
  background-color: var(--rs-bg-card);
  border-bottom: 1px solid transparent;
  border-bottom: 1px solid transparent;
  display: block;
  height: 36px;
  overflow: hidden;
  position: absolute;
  white-space: normal;
}

//Table header
.dx-datagrid-borders > .dx-datagrid-filter-panel,
.dx-datagrid-borders > .dx-datagrid-headers {
  // border-top: 1px solid #ced4da;
  // border-top-left-radius: 4px;
  // border-top-right-radius: 4px;
  border-top: none;
  border-bottom: none;
  font-weight: 500;
  color: black;
  font-size: 1em;
}
//Table body
.dx-datagrid-borders .dx-datagrid-rowsview,
.dx-datagrid-headers + .dx-datagrid-rowsview,
.dx-datagrid-rowsview.dx-datagrid-after-headers {
  border-top: none;
  // border-top: 1px solid #ced4da;
  // border-bottom-left-radius: 4px;
  // border-bottom-right-radius: 4px;
}
//Table toolbar
.dx-datagrid-header-panel .dx-toolbar {
  padding: 5px 8px 6px 8px;
  margin-bottom: 0;
  border: 1px solid #ced4da;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.display {
  .dx-datagrid-header-panel .dx-toolbar {
    padding: 8px;
    margin-bottom: 0;
    border: 1px solid #ced4da;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }
  .dx-datagrid-header-panel .dx-toolbar {
    display: none;
  }
}
//Table footer
.dx-datagrid-pager {
  padding: 8px 8px 5px;
  border: 1px solid #ced4da;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
//Table cell
.dx-datagrid .dx-row > td {
  padding: 10px;
  font-size: 12px;
}
//Select
.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
  min-width: 30px;
  max-width: 30px;
  // padding-right: 100%;
}
//Table body
.dx-datagrid
  .dx-datagrid-content-fixed
  .dx-datagrid-table
  .dx-row
  td.dx-pointer-events-none {
  visibility: hidden;
  background-color: transparent;
  pointer-events: none;
  border-left: 0;
  border-right: 1px solid #ced4da;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
//Edit
.dx-datagrid-content
  .dx-datagrid-table
  .dx-row
  .dx-command-edit.dx-command-edit-with-icons {
  width: 50px;
  min-width: 50px;
  padding: 10px 0;
}
//Edit item
.dx-datagrid
  .dx-datagrid-content
  .dx-datagrid-table
  .dx-row
  .dx-command-edit-with-icons
  .dx-link {
  width: 16px;
  height: 16px;
  background-position: 0 0;
  background-size: 16px 16px;
  padding: 5px 0;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  margin: 0 2px;
  color: black;
}
//Footer Item Count Info
.dx-pager .dx-pages .dx-info {
  display: inline-block;
  margin-right: 9px;
  opacity: 0.6;
  font-size: 12px;
}
//Footer Pager Icon
.dx-pager .dx-pages .dx-next-button,
.dx-pager .dx-pages .dx-prev-button {
  position: relative;
  font-size: 15px;
  text-align: center;
  line-height: 15px;
}
.dx-pager .dx-pages .dx-navigate-button {
  cursor: pointer;
  display: inline-block;
  vertical-align: text-top;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 9px;
  height: 15px;
  padding: 3px 5px;
}
.dx-pager .dx-pages .dx-navigate-button {
  cursor: pointer;
  display: inline-block;
  // vertical-align: bottom;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 9px;
  height: 15px;
  padding: 3px 5px;
}
.dx-pager .dx-pages .dx-page {
  display: inline-block;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 1px;
}
.dx-pager .dx-pages .dx-page {
  padding: 2px 6px 3px;
}
.dx-pager .dx-page-sizes .dx-page-size {
  padding: 2px 6px 3px;
}
.dx-datagrid-content .dx-datagrid-table .dx-row > td,
.dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
  vertical-align: middle;
}
