@import "../../base.scss";

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-xs $spacing-sm;
  font-size: $fontsize-md;

  .page__header__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-xs;
  }
}
