.side-nav-outer-toolbar {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-header {
  z-index: 1501;
}
.sidebar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 260px;
  height: 100%;
  background-color: white;
  color: #737373;
  transition: all ease 1s;
  user-select: none;
  overflow: scroll;
  .navigation-item {
    display: flex;
    width: 90%;
    height: fit-content;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    transition: all ease 0.3s;
    margin-top: 8px;
    cursor: pointer;
  }
  .navigation-element {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    transition: all ease 0.3s;
    cursor: pointer;
    margin-top: 8px;
    // background-color: #bebebe;
  }
}
.icon {
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem;
  border-radius: 4px;
}
.title {
  flex: 1;
  text-align: start;
  margin: 0 1rem;
}
.arrow-down {
  margin-right: 1rem;
  margin-left: auto;
  height: 1.4rem;
  transition: all ease 0.4s;
}
.arrow-down-open {
  margin-right: 1rem;
  margin-left: auto;
  height: 1.4rem;
  transform: rotate(-90deg);
  transition: all ease 0.4s;
}
.navigation-item:first-child {
  margin-top: 1rem;
  .icon {
    width: 3.4rem;
    height: 3.4rem;
    object-fit: contain;
    padding: 0.5rem;
  }
}
.navigation-item:last-child {
  margin-top: auto;
  margin-bottom: 1rem;
  .icon {
    width: auto;
    max-height: 3rem;
    padding-right: 0;
    margin-left: 1.3rem;
  }
}
.sidebar-container .navigation-item:not(:first-child):hover {
  background-color: #bababa;
  .title {
    color: white;
  }
}
.sidebar-container .navigation-element:hover {
  background-color: #bababa;
  .title {
    color: white;
  }
}
