.page-size-container {
  display: flex;
  flex: 1;
  height: fit-content;
  padding: 10px;
  overflow: auto;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
  .size-container {
    display: flex;
    height: fit-content;
    gap: 10px;
    margin-right: auto;

    .size {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      max-height: fit-content;
      padding: 4px 10px 4px 10px;
      border-radius: 4px;
      transition: all ease 0.2s;
      cursor: pointer;
    }
    .size.selected {
      background-color: #aeaeae;
    }
    .size:hover {
      background-color: #dad9d9;
    }
  }
  .selected-count-container {
    margin-left: auto;
  }
}
.page-size-container::-webkit-scrollbar {
  display: none;
}
