@import "../../base.scss";

.action-btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 0.1s ease;
  .action-btn-icon {
    padding: 0.2rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  .action-btn-icon.disable {
    cursor: context-menu;
    filter: opacity(0.5) drop-shadow(0 0 #ffffff);
  }
  .action-btn-icon:hover {
    border-radius: 4px;
    padding: 0.2rem;
    border: 1px solid black;
  }
}
.action-btn.clicked {
  transform: translateY(1px); /* Move the button 1px down when clicked */
}
.action-btn:focus {
  outline: none;
}

.representative-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 200px;
  padding: $spacing-sm;
  transition: transform 0.3s ease;
  .representative-card__title {
    font-size: $fontsize-lg;
    font-weight: 500;
  }
  .representative-card__label {
    font-size: $fontsize-md;
  }
  &:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }
}
