.action-btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 0.1s ease;
  .action-btn-icon {
    width: 100%;
    height: 100%;
    padding: 0.2rem;
  }
  .action-btn-icon:hover {
    border-radius: 4px;
    padding: 0.2rem;
    border: 1px solid black;
  }
}
.action-btn.clicked {
  transform: translateY(1px); /* Move the button 1px down when clicked */
}
.action-btn:focus {
  outline: none;
}
