@import "../../base.scss";

.page__content__header {
  display: flex;
  max-width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-xl 0;
  .page__content__header__title {
    font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    font-size: $fontsize-display-sm;
  }
}

.action__btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 0.1s ease;
  .action__btn__content {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 4px;
    border-radius: 4px;

    &:hover {
      background-color: $primary-color-light;
      .action__btn__icon {
        filter: invert(1) drop-shadow(0 0 white);
      }
      .action__btn__text {
        color: white;
      }
    }
  }
  .action__btn__content.disable {
    filter: opacity(0.5) drop-shadow(0 0 white);
  }
  .action__btn__content:hover {
    padding: 4px;
    border-radius: 4px;
    background-color: $primary-color-light;
  }
  .action__btn__text {
    vertical-align: middle;
    text-align: center;
    font-size: $fontsize-sm;
  }
}
.action__btn.clicked {
  transform: translateY(1px); /* Move the button 1px down when clicked */
}
.action__btn:focus {
  outline: none;
}

.representative-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 200px;
  padding: $spacing-sm;
  transition: transform 0.3s ease;
  .representative-card__title {
    font-size: $fontsize-lg;
    font-weight: 500;
  }
  .representative-card__label {
    font-size: $fontsize-md;
  }
  &:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }
}
