@import "../../base.scss";

.product-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border-radius: 4px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
  padding: 1rem 0;

  cursor: pointer;
  .product-card-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 10px;
    padding-bottom: 0.5rem;
    .product-card-content-count {
      font-size: $fontsize-xl;
      font-weight: 700;
      // letter-spacing: 1px;
    }
    .product-card-content__title {
      font-size: $fontsize-sm;
    }
  }
  .product-card-action {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    font-size: $fontsize-sm;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.28);
    padding: 2px 0;
    opacity: 0.8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    .product-card-action-icon {
      width: 12px;
      height: 12px;
      padding: 2px;
      border-radius: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      margin-top: 2px;
    }
  }
  .product-card-action:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .product-card-image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    color: rgba(0, 0, 0, 0.15);
    font-size: 90px;
    position: absolute;
    right: 10px;
    top: 0;
    transition: all 0.3s linear;
    z-index: 0;
    opacity: 0.2;
  }
  .product-card-image img {
    max-width: 150px;
    max-height: 70px;
    transform-origin: top right;
    transition: transform 0.3s ease-in-out;
  }
}
.product-card:hover {
  .product-card-image img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}
@media screen and (max-width: 1200px) {
  .product-card {
    width: calc(32% - 0.2rem);
  }
}
@media screen and (max-width: 800px) {
  .product-card {
    width: calc(50% - 0.5rem);
  }
}
@media screen and (max-width: 550px) {
  .product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    .product-card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      .product-card-content-count {
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
    .product-card-image img {
      display: none;
    }
  }
}
